@model ProyectoGuitarra.Models.ChangePasswordModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="toolsAndOthers/titleBarLogo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de constraseña</title>
    <link rel="stylesheet" href="~/webPageGt/Invitado/registerAndLogin/changePass.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
  
<body>

    <div class="myForm">
        <h1> Cambiar Contraseña </h1>
        <form method="post">
              @using (Html.BeginForm("Index", "Registro", FormMethod.Post, new { onsubmit = "return btnClick(event);" }))
            {
            <div class="newPass">
                @Html.TextBoxFor(m=> m.password, new { placeholder= "Escribir nueva contraseña", id = "passwordInput", required =
                "required", autocomplete="off", type="password"})
            </div>
            <div class="confirmPass">
                <input type="password" placeholder="Confirmar contraseña" id="confirmedpass" required >
            </div>
            <div class="token">
                @Html.TextBoxFor(m=> m.token, new { placeholder= "Ingrese el token de autenticación", id = "token", required =
                "required", autocomplete="off"})                
            </div>
            
            <div class="change">
            <input type="submit" value="Cambiar contraseña">
        </div>
            }
        </form>
    </div>
            <script>


                const element = document.querySelector('form');
                element.addEventListener('submit', event => {
                    //Se adquieren las contraseñas para compararlas
                    const pass1 = document.getElementById('passwordInput').value;
                    const pass2 = document.getElementById('confirmedpass').value;
                    console.log(pass1);
                    console.log(pass2);

                    if (pass1!= pass2)
                    {
                        swal({
                            title: "Las contraseñas no coinciden",
                            
                            icon: "warning",
                            button: "Ok",});
                            event.preventDefault();
                    // actual logic, e.g. validate the form
                    console.log('Form submission cancelled.');
                    }



                });
            </script>


</body>
</html>