@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Guitar Traina</title>
        <link rel="icon" href="/img/titleBarLogo.png" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/webPageGt/Invitado/style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="preload" href="style.css" as="style" />
        <link rel="stylesheet" href="./css/estilos.css" />
        <script src="https://kit.fontawesome.com/2273da0eea.js" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <header>
            <div class="container">
                <div class="letrasLogo"> Guitar Traina! </div>
                <div class="miImagen">
                    <img class="imgLogo" src="img/logoMaquetado.png" alt="" />
                </div>

                    <ul class="menuHorizontal">
                        <li><a href="#"> Inicio </a></li>
                        <li>
                            <a class="correccionHerramienta" href="#"> Herramientas </a>
                            <ul class="menuVertical">
                                <li><a href="herramientas/afinador/afinador.html"> Afinador </a> </li>
                                <li><a href="herramientas/metronomo/metronomo.html"> Metronomo </a></li>
                                <li><a href="herramientas/bibliotecaAcordes/bibliotecaAcordes.html"> Biblioteca de acordes </a></li>
                                <li><a href="herramientas/rhythmLooper/rhythmLooper.html"> Rhythm Looper </a></li>
                            </ul>
                        </li>
                        <li><a href="apartadoPro/pro.html"> PRO </a></li>
                        <li><a href="/login"> Iniciar Sesion </a></li>
                        <li><a href="/registro"> Registrarme </a></li>
                    </ul>
        </header>

        <div class="pictureWalpaper">
            <section id="hero">
                <h1>Learn and play</h1>
            </section>
            </div>

            <div class="secondPart">
            <section id="somosGT">
                <div class="container">

                    <div class="box2">

                        <div class="fullText">
    
                        <div class="texto">
                            <h2>Somos <span class="color-accent"> Guitar Traina! </span></h2>
                        </div>
    
                            <p class="descGT">
                                <br>
                                Guitar Traina es un Academia de guitarra ideal para que los alumnos puedan construir bases sólidas y se preparen para desarrollar una carrera en la industria de la música. 
                            </p>
                        </div>
                    </div>


                    <div class="box2">

                    
                    <div class="img-container"> </div>
                    </div>

              
                </div>
            </section>
        </div>


        <div class="thirdPart">
            <section>
                <div class="headerPart">
                    
                    <h2> Aprende a tocar guitarra con el mejor metodo de todos  </h2>
                </div>

                <div class="misColumnas">

                    <div class="myBox">
                        <h3> Conviertete en usuairo PRO </h3>
                        <p> Al acceder como usuario PRO, podras tener a tu alcance mas conetenido de aprendizaje, oportunidad para adquirir una nueva guitarra y competir con otros usuarios
                            
                        </p>

                        <figure>
                            <img src="img/circle.webp" alt="">
                         </figure>

                    </div>

                    <div class="myBox">
                        <h3> Aprende a cualquier hora</h3>
                        <p> No tienes que esperar a una hora de clase para aprender, miestras desees aprender a tocar guitarra, podras hacerlo a cualquier hora que tu desees </p>

                        <figure>
                            <img src="img/antTimeIcon.png" alt="">
                        </figure>

                    </div>

                    <div class="myBox">
                        <h3> Aprende divirtiendote </h3>
                        <p> Aprenderas a hacer escalas y diverses ejercicios que son la base de todas las canciones conocidas</p>

                        <figure>
                            <img src="img/haveFunIcon.png" alt="">
                        </figure>
                    </div>
                </div>
            </section>
        </div>

            <footer class="pieDePagina">
                <div class="grupoUno">
                    <div class="box">
                        <figure>
                            <a href="#">
                                <img src="img/logoToolbar.png" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="box">
                     
                        <h2> ACERCA DE NOSOTROS </h2>
                        <p>
                            ¿Tienes alguna duda o comentario? Envianos un correo
                        </p>
                        <p class="sendEmail">
                            guitarTraina.inc@gmail.com
                        </p>
                    </div>
                    <div class="box">
                        <h2> SIGUENOS </h2>
                        <div class="redesSociales">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"> </a>
                            <a href="#" class="fa fa-youtube"> </a>
                                        
                        </div>
                    </div>
                </div>

                <div class="grupoDos">
                    <small> Copyright &copy; 2022 <b> Guitar Traina </b> </small>
                </div>
            </footer>

            
        </div>
    </body>
</html>
